@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&display=swap");

.createSongCont label {
  margin: 5px 10px 5px 0;
  box-sizing: border-box;
}

.createSongCont input { 
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.createSongCont button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
}

.createSongCont button:hover {
  background-color: royalblue;
}



.Container > img {
  height: 175px;
  width: 175px;
  background-color: black;
}

.Container {
  display: flex;
  align-items: center;
  margin: 30px;
  font-family: "IBM Plex Mono", monospace;
}

.createSongCont input {
  margin: 20px;
}

button {
  margin: 10px;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.songDivider{
  height: 20px;
  background-color: greenyellow;
}

.Song-Container {
  display: inline-block;
}

.ImageContainer{
  display: inline-block;
  vertical-align: middle;
  margin: 20px;
  border-radius: 15px;
}

.ArtistName{
  display: inline-block;
  vertical-align: middle;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 20px;
  margin: 70px;
}

.SongName{
  display: inline-block;
  font-family: 'IBM Plex Mono', monospace;
  vertical-align: middle;
  font-size: 20px;
  margin: 70px;
}

.SongIcon{
  height: 100px;
  width: 100px;
  border-radius: 15px;
}

.divider{
  height: 15px;
  width: 100%;
  background-color: greenyellow;
}

.PlayBtn{
  margin-left: 1220px;
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
}